<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/output.css" />
  <title>Smart Selfie</title>
</head>

<body class="font-serif text-gray-700 bg-gray-100">
  <div class="lg:grid lg:grid-cols-2 lg:gap-16 min-h-screen">
    <div>
      <img src="../static/images/smile.jpg" alt="">
    </div>
    <div>
      <div class="custom-container mt-7">
        <h1 class="text-5xl mt-6 font-bold">Smart Selfie</h1>
        <p class="text-xl font-light">Your one shot solution for taking selfies quickly, on the fly.</p>
        <h3 class="text-xl mt-6 capitalize">Smart Selfie by Detecting Smile</h3>
        <a href="smile.html"><button class="mt-2 px-6 py-3 bg-gray-700 text-gray-50 rounded-md text-lg">Click and Smile</button></a>
        <h3 class="text-xl mt-6 capitalize">Smart Selfie by eyeblink</h3>
        <a href="eye.html"><button class="mt-2 px-6 py-3 bg-gray-700 text-gray-50 rounded-md text-lg">Click and Blink</button></a>
      </div>
    </div>
  </div>
</body>
</html>

